@media (max-width: 2100px) {
  .slide {
    width: 31%;
    margin: 0 0.35em;
  }

  .main-container {
    padding: 0.7em;
    border: 6px solid #1f4f5b;
  }

  .button {
    width: 1.8rem;
    height: 57%;
    font-size: 0.95rem;
  }
}

@media (max-width: 1600px) {
  .slide {
    width: 28%;
    margin: 0 0.3em;
  }

  .main-container {
    padding: 0.7em;
    border: 6px solid #1f4f5b;
  }

  .button {
    width: 1.8rem;
    height: 57%;
    font-size: 0.95rem;
  }
}

@media (max-width: 1200px) {
  .slide {
    width: 31%;
    margin: 0 0.3em;
  }

  .main-container {
    padding: 0.5em;
    border: 5px solid #1f4f5b;
  }

  .button {
    width: 1.5rem;
    height: 55%;
    font-size: 0.9rem;
  }
}

@media (max-width: 1024px) {
  .slide {
    width: 31%;
    margin: 0 0.3em;
  }

  .main-container {
    padding: 0.5em;
    border: 5px solid #1f4f5b;
  }

  .button {
    width: 1.5rem;
    height: 55%;
    font-size: 0.9rem;
  }
}

@media (max-width: 900px) {
  .slide {
    width: 32%;
    margin: 0 0.25em;
  }

  .main-container {
    padding: 0.4em;
    border: 4px solid #1f4f5b;
  }

  .button {
    width: 1.2rem;
    height: 52%;
    font-size: 0.85rem;
  }
}

@media (max-width: 600px) {
  .slide {
    width: 40%;
    margin: 0 0.2em;
  }

  .main-container {
    padding: 0.3em;
    border: 3px solid #1f4f5b;
  }

  .button {
    width: 88%;
    height: 50%;
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .slide {
    width: 70%;
    margin: 0 0.15em;
  }

  .main-container {
    padding: 0.2em;
    border: 2px solid #1f4f5b;
  }

  .button {
    width: 70%;
    height: 45%;
    font-size: 0.75rem;
  }
}

/* modal section  */

@media (max-width: 500px) {
  .modal-content {
    padding: 1em;
    width: 90vw;
    max-width: 90vw;
  }
  #modal-img {
    width: 98vw;
    max-width: 98vw;
    max-height: 98vw;
  }
}

@media (min-width: 800px) {
  #modal-img {
    width: 500px;
    max-width: 80vw;
    max-height: 80vw;
  }
  .modal-content {
    max-width: 500px;
    width: 80vw;
    padding: 2em;
  }
}
